
.body1{
    width: 400px;
    margin: auto;
}
.header1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 48px;
    width: 100%;
    height: 64px;
}
.aling1{
    width: 150px;
    height: 50px;
    background-color: gray;
}
.foto1{
    height: 75px;
    width: 200px;
}
.aling2{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: gray;
}
.aling3{
    margin-top: 20px;
    margin: auto;
    width: 350px;
    height: 300px;
}
.aling4{
    border-radius: 10px;
    margin: auto;
    width: 320px;
    height: 150px;
}
.titulo1{
    font-size: large;
    color: black;
    margin-top: 2px;
    padding-left: 14px;
}
.titulo2{
    font-size: medium;
    padding-right: 14px;
    margin-top: 2px;
    margin: auto;
    padding-left: 14px;
    color: black;
}
.foto2{
    height: 120px;
    width: 300px;
    margin: auto;
}
.aling5{
    font-size: large;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 2px;
    margin: auto;
    width: 320px;
    height: 40px;
    border: 1px solid black;
}